// -------- Base Variables -------- //
$bkg-color: #114B5F;


// -------- Form Variables -------- //
$form-color: #456990;
$form-font-color: #D2ECD7;
$field-color: #E4FDE1;
$field-font-color: #16808B;
$field-focus-color: #AAA;
$btn-color: #F45B69;
